.flowplayer.is-overlaid {
  display: none;
}

.flowplayer.is-overlaid.is-open {
  display: block;
}

.flowplayer-overlay-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1001;
}

.flowplayer-overlay-mask .flowplayer {
  -webkit-box-shadow: 0 0 20px #b8b8b8;
  -moz-box-shadow: 0 0 20px #b8b8b8;
  box-shadow: 0 0 20px #b8b8b8;
  max-width: 80%;
  margin: 2em auto;
}


