.flowplayer.is-overlaid {
  display: none;
}

.flowplayer.is-overlaid.is-open {
  display: block;
}

.flowplayer-overlay-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.75);
  z-index: 1001;
}

.flowplayer-overlay-mask .flowplayer {
  max-width: 1000px;
  margin: 4% auto 0;
}

.flowplayer-overlay-mask .flowplayer.is-loading {
  background-color: #000;
}


